{% extends "busqueda.html" %}
{% load staticfiles %}
{% load humanize %}

{% block contenido_base %}
<style>
.section {
    line-height:1.5;
    max-width:35em;
    margin:auto;
    padding:0 1em;
    
}
</style>
<div class="jumbotron" style="background: url(/static/cancer.jpg) no-repeat center center fixed; background-size: 100% 100%;margin-bottom:0px;">
    <div class="container">
    <h1 class="text_image_over">¡Cáncer!</h1>
    <p class="text_image_over">Este sitio te ayudará a analizar e informarte sobre el Cáncer.</p>
    </div> 
</div>

<div class="container">
    <div class="starter-template2">
    <div class="section" style="text-align:justify;">
        <h3>El Cáncer</h3>
        El material genético que se encuentra en cada uno de nosotros (ADN), es propenso a desarrollar mutaciones. Las causas pueden ser factores ambientales (i.e germenes infecciosos), así como también a factores internos (errores de codificación en la reproducción celular, etc). Sin embargo, las células tienen varios mecanismos que reparan los errores de codificación, evitando desarrollar mutaciones que puedan causar tumores. Incluso si se logra desarrollar el tumor el mismo sistema inmunológico actua para eliminarlo.
 
        Cuando nuestro cuerpo, no puede responder positivamente a la agresión de factores ambientales, es cuando los tumores se desarrollan en el cuerpo, sin que el sistema inmunologico pueda hacer algo al respecto. La efectividad de los tratamientos para combatir el cancer es muy baja debido a la diversidad del cáncer. Cada célula cancerosa es muy distinta a las demás, aun dentro del mismo tejido.

        Se tiene conocimiento que solo cerca del 5 a 10 por ciento de todos los canceres son causados por mutaciones dañinas que la persona hereda de sus padres. El 90 a 95 por ciento de los canceres son causados por mutaciones que le suceden a una persona durante la vida como concecuencia del envejecimiento y factores ambientales.

        Es importante mencionar que existen cerca de 200 <a href="http://www.cancer.gov/espanol/tipos">tipos de cáncer</a>. De esos, los siguientes órganos y tejidos son los más afectados:
        <ul>
        <li>Colo rectal</li>
        <li>Esófago</li>
        <li>Estómago</li>
        <li>Mama</li>
        <li>Médula osea</li>
        <li>Ovario</li>
        <li>Páncreas</li>
        <li>Piel</li>
        <li>Próstata</li>
        <li>Pulmones</li>
        <li>Riñones</li>
        <li>Tiroides</li>
        <li>Vejiga</li>
        </ul>

        <h3>Factores de riesgo</h3>
        En general no es posible <b>evitar el cáncer</b> (39.6% de las personas recibiran un diagnóstico de cáncer en algún momento de su vida), ni tampoco es posible saber exactamente porque una persona desarrolla el cáncer antes que otro. Sin embargo, los estudios han mostrado que ciertos factores (factores de riesgo), pueden aumentar las probabilidades de que una persona desarrolle la enfermedad.

        Se tiene suficiente <a href="http://monographs.iarc.fr/ENG/Classification/Table4.pdf">evidencia cientifica</a> que de entre los 200 tipos de canceres que existen, los siguientes factores son los más involucrados en el desarrollo de la enfermedad.
        <table class="table table-striped table-hover table-condensed">
        <thead>
        <th>Factor</th>
        <th># de tipos de cáncer que desarrolla</th>
        </thead>
        <tr><td>Tabaco</td><td>17</td></tr>
        <tr><td>Rayos X y radiación gamma</td><td>14</td></tr>
        <tr><td>Virus del papiloma humano tipo 16</td><td>7</td></tr>
        <tr><td>Bebidas alcohólicas</td><td>7</td></tr>
        <tr><td>VIH tipo 1</td><td>5</td></tr>
        </table>

        <h3>Prevención</h3>
        La prevención del cáncer tiene dos partes:
        <ol>
            <li>
            Tomar medidas para reducir las posibilidades de que se forme tumores malignos. Como por ejemplo, mantener un estilo  de vida saludable, evitar o reducir la exposición a sustancias que se sabe son causantes del cáncer. 
            </li>
            <li>
            Detectar estados precancerosos o el cáncer en forma temprana.
            </li>
        </ol>
        <h3>Recomendaciones</h3>
        <p>La Fundación Mundial para la Investigación en Cáncer ha estimado que del 27 al 39 por ciento de los factores de riesgo de los principales cánceres pueden ser reducidos con solo mejorar la dieta, la actividad física y la composición coorporal. Aproximadamente 1.7 millones de muertes en el mundo son atribuibles a un bajo consumo de frutas y vegetales. Un consumo adecuado de frutas y verduras reduce el riesgo en enfermedades cardiovasculares, cáncer de estomago y cancer colo-rectal.</p>
    </div>

    </div>
</div>
<a href="http://monographs.iarc.fr/ENG/Classification/">IARC</a>
{% endblock %}
