{% extends "busqueda.html" %}
{% load staticfiles %}
{% load humanize %}

{% block contenido_base %}
<div class="jumbotron" style="background: url(/static/3050319-poster-p-1-how-giving-up-refined-sugar.jpg) no-repeat center center fixed; background-size: 100% 100%;margin-bottom:0px;">
    <div class="container">
    <h1 class="text_image_over">¡Diabetes!</h1>
    <p class="text_image_over">Este sitio te ayudará a analizar e informarte de las causas de la Diabetes mellitus.</p>
    </div> 
</div>

<div class="container">
    <div class="starter-template2">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading list-group-item">
                    <h3>Normal</h3>
                    <img style="margin:0px auto;display:block" src="/static/medicion_normal.png">
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading list-group-item">
                    <h3>Prediabetes</h3>
                    <img style="margin:0px auto;display:block" src="/static/medicion_prediabetes.png">
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading list-group-item">
                    <h3>Diabetes</h3>
                    <img style="margin:0px auto;display:block" src="/static/medicion_diabetes.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading list-group-item" style="text-align:justify;">
                    <h4>¿Qué es la diabetes mellitus?</h4>
                    La Diabetes mellitus esta caracterizada, por hacer que la sangre tenga niveles abnormalmente altos de azucar, esto es debido a que el cuerpo carece de la producción de insulina necesaria o no es efectiva. 
                    <br>
                    Las formas más comunes de diabetes que existen son: <b>la diabetes tipo 1</b> (5% a 10% de las personas la padecen) esta enfermedad es causada por un desorden autoinmune que ataca al páncreas. La <b>Diabetes tipo 2</b> (90% a 95% la padecen) es una enfermedad multifactorial, sin embargo esta asociada principalmente con malos hábitos alimenticios y falta de actividad física, esto produce una deficiencia de insulina o resistencia del cuerpo a la misma. La <b>diabetes gestacional</b> es una forma de diabetes que ocurre solo en el embarazo. Otras formas de diabetes son muy raras, y son causadas por la mutación en un gen.
                    <br>
                    Es conocido que un <b>estilo de vida inactivo</b> y un <b>consumo excesivo de alimentos</b> son factores determinates para desarrollar diabetes. La diabetes es una <b>enfermedad genética</b> como también una <b>enfermedad del estilo de vida</b>. Raras formas de diabetes son causadas por una sola mutación en un gen, en la mayoria de los casos de diabetes, muchos genes están involucrados. El gen HNF4A es sospechoso de jugar un papel en el desarrollo de la diabetes tipo 2. Dependiendo de la raza, los genes: CAPN10, PIK3R1, PPARG, KCNJ11, SLC2A2, GCK, ABCC8, pueden afectar el desarrollo de la diabetes.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading list-group-item" style="text-align:justify;">
                    <h4>Mediciones de glucosa.</h4>
                    Comer produce la elevación de glucosa en la sangre, ese incremento depende de varios factores, como, <b>la cantidad</b> y <b>el tipo de carbohidratos</b> que se consumen. Toda la glucosa que no es usada inmediatamente, es tomada por el hígado y músculos donde es almacenada en forma de glucógeno. Cuando los depositos de glucógeno estan llenos, el exceso de glucosa es convertido a grasa en un proceso llamado lipogénesis (ácidos grasos que son guardados como triglicéridos).
                    Los niveles de glucosa en la sangre no son constantes, se elevan y descienden de acuerdo a las necesidades del cuerpo, estos cambios son regulados por las hormonas. Los niveles normales de glucosa promedio van de <b>70 a 110 mg/dl</b>, pero pueden dividirse en dos: en ayunas y aleatorio (dos horas después de comer). No se tiene diabetes si en el examen <b>en ayunas se tiene de 70 a 100 mg/dl</b>, mientras que <b>dos horas después de comer debe se ser menor a 140 mg/dl</b>. Se considera que hay signos de <b>prediabetes</b> cuando <b>en ayunas la medición es de 100 a 125 mg/dl</b>, o <b>dos horas despues de comer se tiene de 140 a 199 mg/dl</b>. <b>Tener diabetes</b> causa mediciones <b>en ayunas de más de 126 mg/dl</b>, o <b>dos horas despues de comer se tiene más de 200 mg/dl</b>.
                </div>
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="col-md-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading list-group-item" style="text-align:justify;">
                    <h4>¿Hay cura?</h4>
         Si se detecta la prediabetes, para llegar a los niveles normales de glucosa en la sangre, debe de actuarse de inmediato (hacer ejercicio, mejor alimentación, dejar de fumar, evitar el estrés). Si se llega a tener diabetes, <a href="http://www.ncl.ac.uk/magres/research/diabetes/reversal.htm">puede revertirse esta condición</a> (<a href="http://link.springer.com/article/10.1007%2Fs00125-011-2204-7">artículo</a>), aunque esto depende del tiempo de manifestación, la severidad del caso y de la genética.
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading list-group-item" style="text-align:justify;">
                    <h4>Cifras.</h4>
                    En México, la diabetes se convirtió en la primera causa de muerte (que se tiene registro) desde año 2000, y se calcula que para finales de 2015 llegará a más de 100,000 muertes por año.
                    En edades de 30 en adelante se muestra como la primera causa de <a href="http://www.conapo.gob.mx/es/CONAPO/Mortalidad">mortalidad</a>. Ademas <b><a href="http://dx.doi.org/10.1590/S0036-36342006000600001">la espectativa de vida</a> de un paciente con diabetes ronda los 10 años</b>.
                    La diabetes puede ocacionar, complicaciones como enfermedades del corazón, ataques cardiacos, derrame cerebral, hipertensión, ceguera, problemas en el sistema nervioso, problemas en los ojos y enfermedades renales.
                </div>
            </div>
        </div>
        </div>

    </div>
</div>
<div class="table-responsive">
<div style="width: 450px;margin:auto;"><h3>Principales causas de muerte en México.</h3></div>
<div style="text-align:right;">Tasa de crecimiento poblacional: <b>1.1%</b></div>
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th></th>
{% for year in years %}
<th>{{ year }}</th>
{% endfor %}
<th>tasa de crecimiento %</th>
</thead>
<tbody>
{% for mortality_name, amounts in mortality_list.items %}
<tr>
<td>{% if mortality_name == "Diabetes mellitus" %}
    <b>{{ mortality_name }}</b>
    {% else %}
    {% if mortality_name in disease_relate %}
    <u>{{ mortality_name }}</u><b>*</b>
    {% else %}
    {{ mortality_name }}
    {% endif %}
    {% endif %}
</td>
{% for amount in amounts %}
<td style="text-align:right;">{{ amount|intcomma }}</td>
{% endfor %}
</tr>
{% endfor %}
<tfoot>
<tr>
<td>* Enfermedades asociadas con la diabetes.</td>
</tr>
<tr>
<td>Fuente: <a href="http://www.inegi.org.mx/est/contenidos/proyectos/registros/vitales/mortalidad/tabulados/PC.asp?t=14&c=11817">Inegi</a></td>
</tr>
</tfoot>
</table>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h4>Principal causa de muerte en personas de 30 a 59 años</h4>
            <table class="table table-striped table-hover table-condensed">
            <tr>
            <td><b>Diabetes mellitus</b></td><td>21,558</td>
            </tr>
            <tr>
            <td>Cirrosis y otras enfermedades crónicas del hígado</td><td>13,960</td>
            </tr>
            <tr>
            <td>Agresiones (homicidios)</td><td>12,173</td>
            </tr>
            <tr>
            <td>Enfermedades isquémicas del corazón</td><td>11,744</td>
            </tr>
            <tr>
            <td>Accidentes de vehículo de motor (tránsito)</td><td>5,030</td>
            </tr>
            <tr>
            <td>Enfermedad cerebrovascular</td><td>4,951</td>
            </tr>
            <tr>
            <td>VIH/SIDA</td><td>3,601</td>
            </tr>
            <tr>
            <td>Nefritis y nefrosis</td><td>3,404</td>
            </tr>
            <tr>
            <td>Tumor maligno de la mama</td><td>3,047</td>
            </tr>
            <tr>
            <td>Infecciones respiratorias agudas bajas</td><td>2,863</td>
            </tr>
            </table>
        Fuente: <a href="http://www.conapo.gob.mx/es/CONAPO/Mortalidad">CONAPO</a>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h4>Principal causa de muerte en personas de 60 años y más</h4>
            <table class="table table-striped table-hover table-condensed">
            <tr>
            <td><b>Diabetes mellitus</b></td><td>62,887</td>
            </tr>
            <tr>
            <td>Enfermedades isquémicas del corazón</td><td>61,225</td>
            </tr>
            <tr>
            <td>Enfermedad cerebrovascular</td><td>26,180</td>
            </tr>
            <tr>
            <td>Enfermedad pulmonar obstructiva crónica</td><td>21,057</td>
            </tr>
            <tr>
            <td>Enfermedades hipertensivas</td><td>16,071</td>
            </tr>
            <tr>
            <td>Cirrosis y otras enfermedades crónicas del hígado</td><td>14,291</td>
            </tr>
            <tr>
            <td>Infecciones respiratorias agudas bajas</td><td>11,505</td>
            </tr>
            <tr>
            <td>Nefritis y nefrosis</td><td>9,528</td>
            </tr>
            <tr>
            <td>Desnutrición calórico protéica</td><td>6,217</td>
            </tr>
            <tr>
            <td>Tumor maligno de la próstata</td><td>5,582</td>
            </tr>
            </table>
        Fuente: <a href="http://www.conapo.gob.mx/es/CONAPO/Mortalidad">CONAPO</a>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
        <h4>Calcula tu índide de masa corporal (IMC)</h4>
        <form name="bmiForm">
        <table class="table table-striped table-hover table-condensed">
        <tr>
            <td style="width:150px;">Tu peso(kg):</td><td><input type="text" name="weight" style="width:100px;"></td>
        </tr>
        <tr>
            <td>Tu altura(cm):</td><td><input type="text" name="height" style="width:100px;"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;"><input type="button" value="Calcula IMC" onClick="calculateBmi();"></td>
        </tr>
        <tr>
            <td colspan="2"><span id="imc-result"></span></td>
        </tr>
        <tr>
            <td colspan="2"><span id="imc-meaning"></span></td>
        </tr>
        </table>
        </form>
        </div>
    </div>
    </div>

<div class="starter-template2">
    <div id="graphContainer" style="width:auto;"></div>
    <div style="margin:auto;width:500px;"><h3>Gráfica de la enfermedad.</h3></div>
    <div id="sigma_container" style="height:400px;"></div>
</div>

<div style="width: 450px;margin:auto;"><h3>Protocolo para la prueba de la diabetes</h3></div>
<div class="container">
    <div class="starter-template2">
        <p>De acuerdo con el National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK):</p>
        <p><b>Las personas mayores de 45 años</b> de edad deben ser evaluadas para la pre-diabetes o diabetes. Si el primer examen de la glucosa en la sangre es normal, deben tener otro examen cada tres años.</p>
        <p><b>Las personas menores de 45 años</b> de edad deben considerar hacerse la prueba para la pre-diabetes o diabetes, si tienen un índice de masa corporal (IMC) <b>mayor o igual a 25 kgm/m2</b> y tienen <b>uno o más de los siguientes factores de riesgo</b>:
        </p>
        <ul>
            <li>Tener un familiar de primer grado que tenga diabetes (madre, padre, o hermano).</li>
            <li>Dar a luz a un bebé que haya pesado más de 9 libras, o tener diabetes durante el embarazo.</li>
            <li>Tener la presión sanguínea en, o más alta de 140/90 mm/Hg.</li>
            <li>Tener niveles de grasa anormales en la sangre, como las lipoproteínas de alta densidad (su sigla en inglés es HDL) menos de o igual a 35 mg/dl, o los triglicéridos más de, o igual a 250 mg/dl.</li>
            <li>Tener un estilo de vida sedentario.</li>
            <li>Tener deteriorada la tolerancia a la glucosa cuando se le había examinado para la diabetes previamente.</li>
            <li>Tener síndrome de ovario poliquístico.</li>
        </ul>
    </div>
</div>

<div>Fuente: <a href="http://ensanut.insp.mx/">encuesta nacional de salud y nutrición 2012</a></div>
<p>Para más información sobre la diabetes consulta <a href="http://www.ncbi.nlm.nih.gov/books/NBK1667/toc/?report=reader">The Genetic Landscape of Diabetes</a>.</p>    
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sigma.min.1.0.3.js' %}"></script>
<script type="text/javascript" src="{% static 'sigma.parsers.json.min.js' %}"></script>

<script type="text/javascript"> 
sigma.parsers.json('/static/red.json', {
    container: 'sigma_container',
    settings: {
        defaultNodeColor: '#999',
        minArrowSize: 10,
        labelThreshold: 1,
        defaultLabelSize: 12,
        touchEnabled: false,
        mouseEnabled: false,
        mouseWheelEnabled: false,
        doubleClickEnabled: false,
        enableCamera: false,
        maxNodeSize: 30,
        maxEdgeSize: 20,
        labelSize: "proportional"
    }
});


d3.json("/static/imc_all.json", function (error, imc) {
var svg = dimple.newSvg("#graphContainer", 1100, 450);
var barChart = new dimple.chart(svg, imc);
barChart.setBounds(60, 50, 1000, 350);
var x = barChart.addCategoryAxis("x", ["edad", "sexo"]);
x.showGridlines = true;
var y = barChart.addMeasureAxis("y", "imc");
y.showGridlines = true;
var l = barChart.addSeries("sexo", dimple.plot.scatter);
l.interpolation = "cardinal";
var sobrepeso = barChart.addSeries("tipo", dimple.plot.line);
sobrepeso.data = [
    { "tipo": "sobrepeso", edad : 0, imc:25, "sexo": 1}, 
    { "tipo" : "sobrepeso", edad : 109, imc:25, "sexo": 1},
];
var obesidad = barChart.addSeries("tipo", dimple.plot.line);
obesidad.data = [
    { "tipo" : "obesidad", edad : 0, imc:30, "sexo": 1 }, 
    { "tipo" : "obesidad", edad : 109, imc:30, "sexo": 1 }
];
var normal = barChart.addSeries("tipo", dimple.plot.line);
normal.data = [
    { "tipo" : "normal", edad : 0, imc:18.5, "sexo": 1}, 
    { "tipo" : "normal", edad : 109, imc:18.5, "sexo": 1 }
];
barChart.assignColor("obesidad", "#aa0000", null, .5);
barChart.assignColor("sobrepeso", "#aaaa00", null, .5);
barChart.assignColor("normal", "#aaaaaa", null, .5);
barChart.assignColor("mujer", "#ffc0cb", null, .8);

x.addOrderRule("edad");
barChart.addLegend(40, 35, 450, 300, "right");
barChart.draw();
x.titleShape.text("edad");
y.tickFormat = ',.2f';
svg.append("text")
   .attr("x", barChart._xPixels() + barChart._widthPixels() / 2)
   .attr("y", barChart._yPixels() - 20)
   .style("text-anchor", "middle")
   .style("font-family", "sans-serif")
   .style("font-weight", "bold")
   .text("Gráfica de índice de masa corporal promedio de hombres y mujeres en base a la edad.");

svg.append("line")
    .attr("x1", x._scale(19))
    .attr("x2", x._scale(19))
    .attr("y1", barChart._yPixels())
    .attr("y2", barChart._yPixels() + barChart._heightPixels())
    .style("stroke", "red")
    .style("stroke-dasharray", "3");

svg.insert("rect", "g")
    .attr("x", x._scale(0))
    .attr("y", y._scale(25))
    .attr("width", barChart._widthPixels())
    .attr("height", y._scale(35-1.5))
    .attr("fill", "#00ff00")
    .attr("opacity", 0.07);

svg.append("text", "g")
   .attr("x", barChart._xPixels() + barChart._widthPixels() / 2)
   .attr("y", y._scale(20))
   .style("text-anchor", "middle")
   .style("font-family", "sans-serif")
   .style("font-weight", "bold")
   .text("imc normal");
});


function calculateBmi() {
    var weight = document.bmiForm.weight.value
    var height = document.bmiForm.height.value
    if(weight > 0 && height > 0){	
        var finalBmi = weight/(height/100*height/100)
        $("#imc-result").html("Tu IMC es: " + finalBmi);
        if(finalBmi < 18.5){
            $("#imc-meaning").html("<b style='color:orange;'>Estas en un nivel bajo de IMC.</b>")
        }
        if(finalBmi > 18.5 && finalBmi < 25){
            $("#imc-meaning").html("<b style='color:green;'>Estás en un nivel adecuado de IMC.</b>")
        }
        if(finalBmi > 25 && finalBmi < 30){
            $("#imc-meaning").html("<b style='color:orange;'>Tienes sobrepeso.</b>")
        }
        if(finalBmi > 30){
            $("#imc-meaning").html("<b style='color:red;'>Tienes obesidad.</b>")
        }
    }
    else {
        alert("Please Fill in everything correctly")
    }
}
</script>
{% endblock %}
