{% extends "busqueda.html" %}
{% load staticfiles %}
{% load humanize %}

{% block contenido_base %}
<style>
.section {
    line-height:1.5;
    max-width:35em;
    margin:auto;
    padding:0 1em;
    
}
</style>
<div class="jumbotron" style="background: url(/static/cancer.jpg) no-repeat center center fixed; background-size: 100% 100%;margin-bottom:0px;">
    <div class="container">
    <h1 class="text_image_over">¡Enfermedades!</h1>
    <p class="text_image_over">Este sitio te ayudará a analizar e informarte las enfermedades más letales para los humanos.</p>
    </div> 
</div>

<div class="container">
    <div class="starter-template2">
    <div class="section" style="text-align:justify;">
        <h3>Enfermedades no transmisibles.</h3>
        <ol>
        <li>Enfermedades cardiovasculares</li>
        <li><a href="{% url 'cancer' %}">Cáncer</a></li>
        <li>Enfermedades crónico respiratorias</li>
        <li>Enfermedades del sistema digestivo</li>
        <li><a href="{% url 'diabetes' %}">Diabetes</a></li>
        </ol>
        <p>Estas son las <a href="http://www.who.int/nmh/publications/ncd_report_chapter1.pdf">enfermedades</a> que causarán la muerte de 52 millones de personas en todo el mundo para el 2030, y la principal causa de muerte.</p>
        <h3>Factores de riesgo.</h3>
        <p>La enfermedades no transmisibles estan fuertemente influenciadas por cuatro factores de riesgo: uso del tabaco, insuficiente actividad física, exceso en el consumo de alcohol y una mala dieta. Que resulta en presión alta, elevación de la azucar y colesterol en la sangre, y exceso de peso.</p>
        <h3>Recomendaciones.</h3>
        <h4>Mejorar la dieta.</h4>
        <p>A grandes rasgos podemos mencionar los siguiente</p>
        <ul>
        <li>La dieta diaria debe tener incluida frutas, verduras, legumbres, nueces y semillas.</li>
        <li>De preferencia comer carnes como la de pavo, pollo y pescados.</li>
        <li>Disminuir el consumo de la carne roja lo más que se pueda.</li>
        <li>Disminuir el consumo de la carne procesada al mínimo o eliminarla de la dieta.</li>
        <li>El monto de sal consumida es importante que no sobre pase los 5 gramos diarios, esto ayuda a no elevar la presión arterial y disminuye el riesgo de enfermedades cardiovasculares.</li>
        <li>El consumo excesivo de alcohol esta ligado a cáncer, enfermedades cardiovasculares y cirrosis. Sin embargo, un consumo bajo de alcohol puede tener efectos beneficos en determinadas enfermedades y en algunos segmentos de la población.</li>
        </ul>
        <p>Para más detalles de como mejorar la alimentación e informarte sobre los alimentos, ver la <a href="{% url 'index' %}">guia de alimentos</a>.</p>
        <h4>No fumar.</h4>
        <p>El tabaco esta ligado a 17 tipos diferentes de canceres, enfermedades del corazón, enfermedades respiratorias y diabetes.</p>
        <h4>Tener actividad física.</h4>
        <p>Tener 30 minutos diarios de actividad fisica moderada, reduce el riesgo de enfermedades como diabetes, cancer y del corazón de 20 a 30 por ciento.</p>
        <p>Para más detalles sobre ejercicios ver <a href="#">...</a></p>
    </div>

    </div>
</div>
{% endblock %}
