{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<div class="row">
<form action="{% url 'food_compare' %}" method="POST" id="intake_form">
{% csrf_token %}
<table>
<tr>
<th>Edad</th>
<th>Unidad</th>
<th>Genero</th>
<th>Norma</th>
</tr>
<tr>
<td>{{ intake_form.edad }}</td>
<td>{{ intake_form.unidad_edad }}</td>
<td>{{ intake_form.genero }}</td>
<td>{{ intake_form.rnv_type }}</td>
<input type="hidden" value="{{ intake_list_name }}" id="intake_list_name" name="intake_list_name">
<td style="padding-right:5px;"><button type="submit" name="analizar" class="btn btn-xs btn-primary">Calcular</button></td>
<td style="padding-right:5px;">
<button type="submit" name="save" class="btn btn-xs btn-success">Guardar en mi lista</button>
</td>
<td style="padding-right:5px;">
<button type="submit" name="borrar" class="btn btn-xs btn-danger">Borrar de mi lista</button>
</td>
<td>
<!--nclick="javascript:agregar();">-->
<a tabindex="0" class="btn btn-xs btn-info" role="button" data-trigger="focus" title="" onclick="javascript:share_recipe();">Compartir receta</a>
</td>
</tr>
</table>

<table>
<tr>
<th>Alimento</th>
<th>Peso(g)</th>
</tr>
{{ formset.management_form }}
{% for form in formset %}
<tr>
<td style="padding:2px;">
<a href="{% url 'view_food' form.food.ndb_no %}">{{ form.food.name }}</a>
</td>
<td>{{ form.ndb_no }}{{ form.weight }}</td>
{% endfor %}
</table>
</form>

<br>
<div class="panel panel-default">
<div class="panel-heading list-group-item">
    <span class="badge">{{ recipe.score }}</span>
    <p class="panel-title">{{ recipe.name|truncatechars:30 }}</p>
</div>
<div class="panel-body">
    <p>Energia: {{ recipe.energy.0 }}{{ recipe.energy.1 }}</p>
    <p>Radio Omega: {{ recipe.radio_omega }}:1</p>
    <p>Cantidad: {{ recipe.weight }}g</p>
</div>
</div>

<div id="chartContainer"></div>

<h3>Resumen de nutrientes.</h3>
<p>Los números negativos indican un consumo excesivo del nutriente.</p>
<div id="barContainer"></div>

<div id="barAcumContainer"></div>
 
<div class="panel panel-default">
<div class="panel-heading list-group-item">
<p class="panel-title">Principales nutrientes</p>
</div>
<div class="panel-body">
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th>Nutriente</th>
<th>Porcentaje de la masa del producto</th>
</thead>
<tbody>
{% for porcentaje, nutrdesc in recipe.principals_nutrients_percentage %}
<tr>
<td>{{ nutrdesc }}</td>
<td>{{ porcentaje }}%</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<br>
<p>Los valores de referencia para el consumo diario de nutrientes fueron sacados de:
<a href="http://www.ncbi.nlm.nih.gov/books/NBK114316/?report=reader#!po=100.000">NCBI</a>,
<a href="http://books.nap.edu/openbook.php?record_id=11537">Book</a>
<a href="http://www.nal.usda.gov/fnic/DRI/Essential_Guide/DRIEssentialGuideNutReq.pdf">PDF</a></p>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>
<script type="text/javascript">
function share_recipe() {
    var author = prompt("Ponga su identidad.")
    if(author) {
        var request = $.ajax({
            type: "POST",
            url: "{% url 'share_recipe' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                intake_list_name: '{{ intake_list_name }}',
                author: author
            }
        });
        request.done(function(data) {
            if(data) {
                if(data.result == 'ok') {
                    alert("Los datos fueron guardados.");
                } else {
                    if(data.result == 'no key') {
                        alert("Antes de compartir, debe apretar el botón 'Guardar en mi lista'.")
                    }
                }
            }
        });
        request.error(function(data) {
            alert("Ha ocurrido un error.");
        });
    }
}


var data = [];
{% for nutrient, value, units in recipe.resume_intake_raw %}
    data.push({nombre: '{{ nutrient }}', valor: {{ value }}, tipo: "total alimento", unit: '{{ units }}'})
{% endfor %}

{% for nutr_obj in recipe.perfil_intake.values %}
    {% for nutrient, value, units, type in nutr_obj.raw %}
    data.push({nombre: '{{ nutrient }}', valor: {{ value }}, unit: '{{ units }}', tipo: '{{ type }}'});
    {% endfor %}
{% endfor %}

var nutrients = [];
{% for _, nutrdesc, value in recipe.resume_intake %}
nutrients.push({nutriente: '{{ nutrdesc }}', porcentaje: {{ value }}, suficiente: {% if value < 100 %}0{% else %}1{% endif %}})
{% endfor %}


var svg = dimple.newSvg("#chartContainer", 1100, 450);
var myChart = new dimple.chart(svg);
myChart.assignColor("Recomendada", "#0066ff", null, .5);
myChart.assignColor("Máxima ingesta tolerable", "#aa0000", null, .7);
myChart.assignColor("total alimento", "#009900", null, .3);
myChart.assignColor("Ingesta adecuada", "#aa66ff", null, .7);

myChart.setBounds(60, 30, 950, 200);
var x = myChart.addCategoryAxis("x", "nombre");
x.showGridlines = true;
var y = myChart.addMeasureAxis("y", "valor");
y.showGridlines = false;
var bar = myChart.addSeries("tipo", dimple.plot.scatter, [x, y]);
bar.data = data//dimple.filterData(data, "group", "scatter");
var line = myChart.addSeries("tipo", dimple.plot.line, [x, y]);
line.data = dimple.filterData(data, "tipo", "total alimento");
bar.stacked = false;
x.addOrderRule("nombre");

line.interpolation = "step";
myChart.addLegend(10, 10, 400, 45, "right");
y.useLog = true;
y.logBase = 10;
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';

var svg = dimple.newSvg("#barContainer", 1100, 450);
var barChart = new dimple.chart(svg, nutrients);
barChart.assignColor("0", "#aa0000", null, .5);
barChart.assignColor("1", "#00aacc", null, .5);
barChart.setBounds(60, 50, 950, 200);
var x = barChart.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
var y = barChart.addMeasureAxis("y", "porcentaje");
y.showGridlines = false;
var l = barChart.addSeries("suficiente", dimple.plot.bar);
x.addOrderRule("nutriente");
barChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';

/*
var svg = dimple.newSvg("#barAcumContainer", 1000, 500);
var myChart3 = new dimple.chart(svg, foods);
myChart3.setBounds(60, 50, 750, 305);
var x = myChart3.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
var y = myChart3.addMeasureAxis("y", "valor");
y.showGridlines = false;
var l = myChart3.addSeries("name", dimple.plot.bar);
x.addOrderRule("nutriente");
myChart3.addLegend(810, 10, 10, 600);
//myChart3.addLegend(50, 0, 100, 200, "left");
myChart3.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
*/
$(function()
{
var submitActor = null;
var $form = $( '#intake_form' );
var $submitActors = $form.find( 'button[type=submit]' );

$form.submit( function( event )
{
    if ( null === submitActor ) {
    // If no actor is explicitly clicked, the browser will
    // automatically choose the first in source-order
    // so we do the same here
        submitActor = $submitActors[0];
    }

    if(submitActor.name == "save") {
        if($("#intake_list_name").val() == "") {
            name_list = prompt("Escriba el nombre de la lista.")
            if(name_list) {
                $("#intake_list_name").val(name_list)
                return true;
            } else {
                return false;
            }
        } else {return true;}
    } else {
        return true;
    }
});

$submitActors.click(function( event ){ submitActor = this;});

});
</script>
{% endblock %}
