{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<div class="row">
<form action="." method="POST">
{% csrf_token %}
<table>
<tr>
<th>Edad</th>
<th>Unidad</th>
<th>Genero</th>
</tr>
<tr>
<td>{{ intake_form.edad }}</td>
<td>{{ intake_form.unidad_edad }}</td>
<td>{{ intake_form.genero }}</td>
<td><button type="submit" name="analizar">Calcular</button></td>
</tr>
</table>

{% csrf_token %}
<table>
<tr>
<th>Alimento</th>
<th>Peso(g)</th>
</tr>
{{ formset.management_form }}
{% for form in formset %}
<tr>
<td style="padding:2px;">
<a href="{% url 'view_food' form.food.ndb_no %}">{{ form.food.name }}</a>
</td>
<td>{{ form.ndb_no }}{{ form.weight }}</td>
{% endfor %}
</table>
</form>

<br>
<div id="chartContainer"></div>
<p>Principales nutrientes</p>
<div id="barContainer"></div>
<h3>Energia: {{ energy.0 }} {{ energy.1 }}</h3>
<h3>Total de alimento consumido: {{ total_weight }}g</h3>
<h3>Calificacion: {{ score }} de 100</h3>
{% if radio_omega > 4 %}
<h3>El radio omega es alto {{ radio_omega }}:1</h3>
{% endif %}
<h3>Resumen de nutrientes que debes de checar.</h3>
<ul>
{% for nutr, penality in type_intake %}
{% if penality > 0 %}
<li><span style="color: #a00;">{{ nutr }}</span></li>
{% else %}
<li>{{ nutr }}</li>
{% endif %}
{% endfor %}
</ul>

<br>
<p>Los valores de referencia para el consumo diario de nutrientes fueron sacados de:
<a href="http://www.ncbi.nlm.nih.gov/books/NBK114316/?report=reader#!po=100.000">NCBI</a>,
<a href="http://books.nap.edu/openbook.php?record_id=11537">Book</a>
<a href="http://www.nal.usda.gov/fnic/DRI/Essential_Guide/DRIEssentialGuideNutReq.pdf">PDF</a></p>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>
<script type="text/javascript">
var data = [];
{% for nutrient, value in total_food.items %}
    data.push({nombre: '{{ nutrient }}', valor: {{ value.0 }}, tipo: "total alimento", unit: '{{ value.1 }}'})
{% endfor %}

var intake = [];
{% for nutr_obj in intake.values %}
    {% for nutrient, value, units, type in nutr_obj.raw %}
    data.push({nombre: '{{ nutrient }}', valor: {{ value }}, unit: '{{ units }}', tipo: '{{ type }}'});
    {% endfor %}
{% endfor %}

var principals = [];

{% for porcentaje, nutrdesc in principals %}
principals.push({nombre: '{{ nutrdesc }}', porcentaje: {{ porcentaje }}, tipo: "principales"});
{% endfor %}

var svg = dimple.newSvg("#chartContainer", 1100, 600);
var myChart = new dimple.chart(svg);
myChart.assignColor("Recomendada", "#0066ff", null, .5);
myChart.assignColor("Máxima ingesta tolerable", "#aa0000", null, .7);
myChart.assignColor("total alimento", "#009900", null, .3);
myChart.assignColor("Ingesta adecuada", "#aa66ff", null, .7);

myChart.setBounds(60, 30, 950, 305);
var x = myChart.addCategoryAxis("x", "nombre");
x.showGridlines = true;
var y = myChart.addMeasureAxis("y", "valor");
y.showGridlines = false;
var bar = myChart.addSeries("tipo", dimple.plot.scatter, [x, y]);
bar.data = data//dimple.filterData(data, "group", "scatter");
var line = myChart.addSeries("tipo", dimple.plot.line, [x, y]);
line.data = dimple.filterData(data, "tipo", "total alimento");
bar.stacked = false;
x.addOrderRule("nombre");

line.interpolation = "step";
myChart.addLegend(10, 10, 400, 45, "right");
y.useLog = true;
y.logBase = 10;
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';

var svg = dimple.newSvg("#barContainer", 1100, 210);
var barChart = new dimple.chart(svg, principals);
barChart.setBounds(10, 30, 950, 130)
barChart.addPctAxis("x", "porcentaje");
barChart.addCategoryAxis("y", "tipo");
var barSeries = barChart.addSeries("nombre", dimple.plot.bar);
barSeries.stacked = true;
barChart.addLegend(10, 10, 1100, 30, "right");
barChart.draw();
</script>
{% endblock %}
