{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<div class="row">
<form action="." method="POST">
{% csrf_token %}
<table>
<tr>
<th>Edad</th>
<th>Unidad</th>
<th>Genero</th>
</tr>
<tr>
<td>{{ intake_form.edad }}</td>
<td>{{ intake_form.unidad_edad }}</td>
<td>{{ intake_form.genero }}</td>
<td><button type="submit" name="analizar">Calcular</button></td>
</tr>
</table>

{% csrf_token %}
<table>
<tr>
<th>Alimento</th>
<th>Peso(g)</th>
</tr>
{% for food in foods %}
<tr>
<td style="padding:2px;">
<a href="{% url 'view_food' food.ndb_no %}">{{ food.name }}</a>
</td>
<td><input type="text" name="weight_{{ food.ndb_no }}" style="width:40px;" value="100"></td>
<td><button name="analizar" value="{{ food.ndb_no }}">mejorar</button></td>
{% endfor %}
</table>
</form>

<div id="chartContainer"></div>

<div id="text-chart">
	<div id="chart1"></div>
</div>
<p>Los valores de referencia para el consumo diario de nutrientes fueron sacados de:</p>
<a href="http://www.ncbi.nlm.nih.gov/books/NBK114316/?report=reader#!po=100.000">Fuente 1</a>
<a href="http://books.nap.edu/openbook.php?record_id=11537">Fuente 2</a>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>
<script type="text/javascript">
var data = [];
{% for nutrient, value in total_food %}
    data.push({nombre: '{{ nutrient }}', valor: {{ value }}, tipo: "total alimento", unit: ''})
{% endfor %}

var intake = [];
{% for nutr_no, nutrient, unit, value, type in intake %}
    data.push({nombre: '{{ nutrient }}', valor: {{ value }}, unit: '{{ unit }}', tipo: '{{ type }}'})
{% endfor %}

var svg = dimple.newSvg("#chartContainer", 1100, 600);
var myChart = new dimple.chart(svg);
myChart.assignColor("Recomendada", "#0066ff", null, .5);
myChart.assignColor("Máxima ingesta tolerable", "#aa0000", null, .7);
myChart.assignColor("total alimento", "#009900", null, .3);
myChart.assignColor("Ingesta adecuada", "#aa66ff", null, .7);

myChart.setBounds(60, 30, 950, 305);
var x = myChart.addCategoryAxis("x", "nombre");
x.showGridlines = true;
var y = myChart.addMeasureAxis("y", "valor");
y.showGridlines = false;
var bar = myChart.addSeries("tipo", dimple.plot.scatter, [x, y]);
bar.data = data//dimple.filterData(data, "group", "scatter");
var line = myChart.addSeries("tipo", dimple.plot.line, [x, y]);
line.data = dimple.filterData(data, "tipo", "total alimento");
bar.stacked = false;
x.addOrderRule("nombre");

line.interpolation = "step";
myChart.addLegend(10, 10, 400, 45, "right");
y.useLog = true;
y.logBase = 10;
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
</script>
{% endblock %}
