{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<form>
<table>
<tr>
<th>Receta</th>
<th>Peso(g)</th>
</tr>
{{ formset.management_form }}
{% for form in formset %}
<tr>
<td style="padding:2px;">
{{ form.name }}
</td>
<td>{{ form.recipe }}{{ form.weight }}</td>
{% endfor %}
</table>
</form>

<br>
<div id="chartContainer"></div>
<p>Principales nutrientes</p>
<div id="barContainer"></div>
<h3>Energia: {{ menu.energy.0 }} {{ menu.energy.1 }}</h3>
<h3>Total de alimento consumido: {{ menu.weight }}g</h3>
<h3>Calificación: {{ menu.score }} de 100</h3>
<h3>El radio omega es: {{ menu.radio_omega }}:1</h3>
<h3>Resumen de nutrientes que debes de checar.</h3>
<ul>
{% for nutr, score in menu.resume_intake %}
{% if score < 50 %}
<li><span style="color: #a00;">{{ nutr }} [bajo]</span></li>
{% else %}
<li>{{ nutr }}</li>
{% endif %}
{% endfor %}
</ul>

</div>
</div>
{% endblock %}

