{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<form>
<table>
<tr>
<th>Receta</th>
<th>Peso(g)</th>
</tr>
{{ formset.management_form }}
{% for form in formset %}
<tr>
<td style="padding:2px;">
{{ form.name }}
</td>
<td>{{ form.recipe }}{{ form.weight }}</td>
{% endfor %}
</table>
</form>

<br>
<div class="panel panel-default">
<div class="panel-heading list-group-item">
    <span class="badge">{{ menu.score }}</span>
    <p class="panel-title">Resultados de Menú</p>
</div>
<div class="panel-body">
    <p>Energia: {{ menu.energy.0 }}{{ menu.energy.1 }}</p>
    <p>Radio Omega: {{ menu.radio_omega }}:1</p>
    <p>Peso: {{ menu.weight }}g</p>
</div>
</div>

<h3>Resumen de nutrientes.</h3>
<p>Los números negativos indican un consumo excesivo del nutriente.</p>
<div id="barContainer"></div>


<div class="panel panel-default">
<div class="panel-heading list-group-item">
<p class="panel-title">Principales nutrientes</p>
</div>
<div class="panel-body">
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th>Nutriente</th>
<th>Porcentaje de la masa del producto</th>
</thead>
<tbody>
{% for porcentaje, nutrdesc in menu.merged_recipes.principals_nutrients_percentage %}
<tr>
<td>{{ nutrdesc }}</td>
<td>{{ porcentaje }}%</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<h3>Recomendaciones</h3>
<ol>
{% for _, food_name in menu.best %}
<li><a href="{% url 'view_food' food_name.attr.0 %}">{{ food_name.attr.1 }}</a></li>
{% endfor %}
</ol>

</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>
<script type="text/javascript">

var nutrients = [];
{% for _, nutrdesc, value in menu.resume_intake %}
nutrients.push({nutriente: '{{ nutrdesc }}', porcentaje: {{ value }}, suficiente: {% if value < 100 %}0{% else %}1{% endif %}})
{% endfor %}

var svg = dimple.newSvg("#barContainer", 1100, 450);
var barChart = new dimple.chart(svg, nutrients);
barChart.assignColor("0", "#aa0000", null, .5);
barChart.assignColor("1", "#00aacc", null, .5);
barChart.setBounds(60, 50, 950, 200);
var x = barChart.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
var y = barChart.addMeasureAxis("y", "porcentaje");
y.showGridlines = false;
var l = barChart.addSeries("suficiente", dimple.plot.bar);
x.addOrderRule("nutriente");
barChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
</script>
</script>
{% endblock %}
