{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'index' %}" class="navbar-brand">Alimentos y sus Nutrientes <sup>beta</sup></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'about' %}">Acerca de</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        <form id="search-form" class="navbar-form navbar-right form-inline" onsubmit="return verify_search_term();" name="search-form" action="{% url 'result_long_search' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-control sr-only" for="exampleInputAmount">Busqueda</label>
                <div class="input-group">
                    <input name="text-input" id="text-input" type="text" style="width: 500px;" 
                        class="form-control" placeholder="Busqueda">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                </div>
            </div>
        </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

{% block contenido_base %}{% endblock %}

<script type="text/javascript" src="{% static 'jquery.1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.autocomplete.1.2.20.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
function preg_quote( str ) {
    // http://kevin.vanzonneveld.net
    // +   original by: booeyOH
    // +   improved by: Ates Goral (http://magnetiq.com)
    // +   improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
    // +   bugfixed by: Onno Marsman
    // *     example 1: preg_quote("$40");
    // *     returns 1: '\$40'
    // *     example 2: preg_quote("*RRRING* Hello?");
    // *     returns 2: '\*RRRING\* Hello\?'
    // *     example 3: preg_quote("\\.+*?[^]$(){}=!<>|:");
    // *     returns 3: '\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:'

    return (str+'').replace(/([\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:])/g, "\\$1");
}
function highlight( data, search )
{
    return data.replace( new RegExp( "(" + preg_quote( search ) + ")" , 'gi' ), "<b>$1</b>" );
}
$('#text-input').autocomplete({
	serviceUrl:'/ajax_search/',
	minChars:2,
	maxHeight:500,
	width:500,
	zIndex: 9999,
	deferRequestBy: 0,
	noCache: true,
    showNoSuggestionNotice: true,
    autoSelectFirst: false,
    tabDisabled: false,
    formatResult: function(suggestion, currentValue) {
        if(suggestion.value.length > 70) {
            var sugges = suggestion.value.substring(0, 70) + "...";
        } else {
            var sugges = suggestion.value;
        }
        //return '<p><span>'+ sugges +'</span>'+'<span style="position:absolute;float:right;right:10px;font-size:80%;">'+x+'</span></p>';
        return '<p><span>'+highlight( sugges, currentValue )+'</span>'
    },
	onSelect: function(suggestion) {
        window.location.replace("/food/"+suggestion.data.id+"/")
    },
});
function verify_search_term() {
    var term = document.forms["search-form"]["text-input"].value;
    if(term.length > 0) {
        return true;
    }
    alert("Escriba el nombre del alimento a buscar.")
    return false;
}
</script>
{% block js %}{% endblock %}

{% if not debug %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//estadisticas.inmegen.gob.mx/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//estadisticas.inmegen.gob.mx/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% endif %}
</body>
</html>
