{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<h3>Descripción</h3>
<p>
El perfil es el conjunto de datos de referencia, que sirve para obtener el valor de una dieta con los nutrientes escenciales.
</p>
<br>
<div class="row" style="padding-left:10px;">
<form action="{% url 'change_perfil' %}" method="POST" id="intake_form">
{% csrf_token %}
<table>
<tr>
<th>Edad</th>
<th>Unidad</th>
<th>Genero</th>
<th>Norma</th>
</tr>
<tr>
<td>{{ intake_form.edad }}</td>
<td>{{ intake_form.unidad_edad }}</td>
<td>{{ intake_form.genero }}</td>
<td>{{ intake_form.rnv_type }}</td>
<td style="padding-right:5px;">
    <button type="submit" name="analizar" class="btn btn-xs btn-primary">Cambiar</button>
</td>
</tr>
</table>
</form>

<h3>Nutrientes escenciales</h3>
<table class="table table-striped table-hover table-condensed">
<thead>
{% for _, norma in normas %}
<th>{{ norma }}</th>
{% endfor %}
</thead>
{% for normas in nutrs_intake %}
<tr>
{% for norma_nutr in normas %}
<td>{{ norma_nutr }}</td>
{% endfor %}
</tr>
{% endfor %}
<tbody>
</table>
</div>
</div>
{% endblock %}

