{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<div class="row">
{% for food in foods %}
<div class="col-md-3" style="padding: 20px;">
<p><a href="{% url 'view_food' food.ndb_no %}">{{ food.name }}</a></p>
<p><b>Radio:</b> {{ food.radio }}</p>
<p><b>Calorias: </b>{{ food.energy.1 }}{{ food.energy.2 }}</p>
<p><b>Densidad energetica: </b>{{ food.calc_energy_density }}</p>
{% with food.caution_good_nutr_avg as nutr %}
<div class="color-swatches">
    <a tabindex="0" class="btn btn-xs btn-info" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Total nutrientes" data-content="Total de nutrientes">{{ nutr.total }}</a>
    <a tabindex="0" class="btn btn-xs btn-success" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Nutrinetes no dañinos por encima del promedio" data-content="Total de nutrientes no dañinos por encima del promedio.">{{ nutr.good }}</a>
    <a tabindex="0" class="btn btn-xs btn-danger" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Nutrientes dañinos por encima del promedio" data-content="Total de nutrientes dañinos por encima del promedio.">{{ nutr.bad }}</a>
</div>
{% endwith %}
</div>
{% endfor %}
</div>

<div id="chartContainer"></div>

{% if nutr %}
<div>Base: {{ foods.0.name }}</div>
<div>Meta: {{ foods.1.name }}</div>
<div class="table-responsive" id="tabla-categoria-alimentos">
<table class="table table-striped table-hover table-condensed">
<thead>
<th>Nutriente</th>
<th>Probabilidad de subir</th>
<th>Sube su valor un...</th>
<th>Baja su valor un...</th>
</thead>
{% for k, v in nutr %}
<tr>
    <td>{{ k }}</td>
    <td>{{ v.0 }}%</td>
    <td>{{ v.1 }}%</td>
    <td>{{ v.2 }}%</td>
</tr>
{% endfor %}
</table>
{% endif %}

</div>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>
</script>

<script type="text/javascript">
var data = [];
{% for food in foods %}
    {% for _, nutrdesc, radio in food.top_nutrients_radio %}
    data.push({nutriente: '{{ nutrdesc }}', radio: {{ radio }}, tipo: '{{ food.name }}'})
    {% endfor %}
{% endfor %}

var svg = dimple.newSvg("#chartContainer", 900, 600);
var myChart = new dimple.chart(svg, data);
myChart.setBounds(60, 30, 750, 305);
var x = myChart.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
x.addOrderRule("nutriente");
//var x = myChart.addCategoryAxis("x", ["nutr", "tipo"]);
var y = myChart.addMeasureAxis("y", "radio");
y.showGridlines = true;
var l = myChart.addSeries("tipo", dimple.plot.scatter);
myChart.addLegend(10, 10, 350, 45, "right");
//myChart.setStoryboard("nutr");
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
</script>
{% endblock %}
