{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
    <div class="starter-template">
    <h2 style="text-align: center;">Contacto.</h2>
    <p>Esta guia de alimentos esta en constante desarrollo, y cualquier participación, sugerencia, crítica o comentario es bienvenida.</p>
    <p>El <a href="https://github.com/elaeon/foods">código</a> para su análisis<p>
    <p>Correo de contacto [lc3@inmegen.gob.mx], [agmartinez@inmegen.gob.mx]</p>
    </div>
</div>
{% endblock %}
