{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">

<h2>{{ food_base.name }}</h2>
<h3>Distancia: {{ distance }}</h3>
<div id="chartContainer"></div>
<div id="chartContainer3"></div>
</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>


<script type="text/javascript">
var data = [];
{% for nutrient, value in food_base_nutrients %}
    data.push({nutriente: '{{ nutrient }}', valor: {{ value }}, nombre: '{{ food_base.name }}', type: 'base'});
{% endfor %}
{% for nutrient, value in total_nutrients %}
    data.push({nutriente: '{{ nutrient }}', valor: {{ value }}, nombre: "Otros"});
{% endfor %}

var svg = dimple.newSvg("#chartContainer", 900, 600);
var myChart = new dimple.chart(svg, data);
myChart.assignColor('base', "#aa0000", null, .7);
myChart.setBounds(60, 30, 750, 305);
var x = myChart.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
var y = myChart.addMeasureAxis("y", "valor");
y.showGridlines = false;
var l = myChart.addSeries("nombre", dimple.plot.line);
//var s = myChart.addSeries(["nombre", "otro"], dimple.plot.scatter);
l.interpolation = "step";
x.addOrderRule("nutriente");
myChart.addLegend(50, 0, 60, 100, "left");
y.useLog = true;
y.logBase = 10;
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';

var data2 = [];
{% for food_name, nutrient, value in foods %}
    data2.push({nutriente: '{{ nutrient }}', valor: {{ value }}, nombre: '{{ food_name }}'})
{% endfor %}


var svg = dimple.newSvg("#chartContainer3", 900, 600);
var myChart3 = new dimple.chart(svg, data2);
myChart3.setBounds(60, 30, 750, 305);
var x = myChart3.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
var y = myChart3.addPctAxis("y", "valor");
y.showGridlines = false;
var l = myChart3.addSeries("nombre", dimple.plot.bar);
x.addOrderRule("nutriente");
myChart3.addLegend(50, 0, 100, 200, "left");
myChart3.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
</script>
{% endblock %}
