{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<h2>{{ categoria }}</h2>
<div class="col-sm-6 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
        <h3>Nutrientes relevantes en esta categoria</h3>
        <div class="list-two-column">
        {% for _, _, nutr in best_nutr %}
        <p style="margin:0;padding:0;">{{ forloop.counter }}. {{ nutr }}</p>
        {% endfor %}
        </div>
        <a href="{% url 'principal_nutrients_graph' %}">Ver gráfica global</a>
        </div>
    </div>
</div>

{% for i, _, resumen_text in variants %}
<div class="col-sm-6 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
        <h3>Descripción</h3>
        {{ resumen_text }}
        <div id="barContainer-{{ i }}"></div>
        </div>
    </div>
</div>
{% endfor %}

<div class="col-sm-6 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
{% if order == "perfil" %}
<p>Los alimentos están ordenados por el perfil. Desea cambiar el orden a <a role="button" class="btn btn-primary" href="{% url 'list_food_category' category_id 'best' %}">Mejores</a>
{% else %}
<p>Los alimentos están ordenados alfabéticamente. Desea cambiar el orden a <a role="button" class="btn btn-primary" href="{% url 'list_food_category' category_id 'perfil' %}">Perfil</a></p>
{% for ndb_no, name, name_en in foods %}
<div style="margin-top: 1px;"> 
<a tabindex="0" class="btn btn-xs btn-info" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ name_en }}" data-content="{{ name_en }}">En</a>
<a href="{% url 'view_food' ndb_no %}">{{ name }}</a>
</div>
{% endfor %}
{% endif %}
        </div>
    </div>
</div>

</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>

<script type="text/javascript">
var nutrients = [];
{% for i, data, resumen_text in variants %}
{% for nutrdesc, value, type in data %}
nutrients.push({index: {{ i }}, nutriente: '{{ nutrdesc }}', porcentaje: {{ value }}, type: '{{ type }}'});
{% endfor %}
{% endfor %}

{% for i, _, resumen_text in variants %}
var svg{{i}} = dimple.newSvg("#barContainer-{{ i }}", 600, 350);
var data{{i}} = dimple.filterData(nutrients, "index", ["{{i}}"])
var barChart{{i}} = new dimple.chart(svg{{i}}, data{{i}});
barChart{{i}}.assignColor("decremento", "#aa0000", null, .5);
barChart{{i}}.assignColor("incremento", "#00aacc", null, .5);
barChart{{i}}.setBounds(60, 50, 440, 220);
var x{{i}} = barChart{{i}}.addCategoryAxis("x", "nutriente");
x{{i}}.showGridlines = true;
var y{{i}} = barChart{{i}}.addMeasureAxis("y", "porcentaje");
var l{{i}} = barChart{{i}}.addSeries("type", dimple.plot.bar);
y{{i}}.overrideMax = 100;
y{{i}}.showGridlines = false;
x{{i}}.addOrderRule("nutriente");
barChart{{i}}.draw();
x{{i}}.titleShape.text("Nutriente");
y{{i}}.tickFormat = ',.2f';
{% endfor %}
</script>
{% endblock js %}
