{% extends "busqueda.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
{% with food.ranking as ranking %}        
<h2>
{{ food.name }}
<a tabindex="0" class="btn btn-xs btn-info" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ food.name_en }}" alt=" {{ food.name_en }}">En</a>
<a tabindex="0" class="btn btn-xs btn-{% if ranking.global < 500%}info{% else %}success{% endif %}" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Ranking" data-content="Posición del total">#{{ ranking.global }}</a>
<a href="{% url 'ranking_list' 'best' %}">Ranking</a>
</h2>
<h4>
<a href="{% url 'list_food_category' food.group.id 'best' %}">{{ food.group.name }}</a> 
<a tabindex="0" class="btn btn-xs btn-info" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Ranking" data-content="Posición en la categoria {{ food.group.name }}">#{{ ranking.category }}</a>
<a tabindex="0" class="btn btn-xs btn-success" role="button" data-trigger="focus" title="Agregar alimento" onclick="javascript:agregar();">+Agregar</a>
<a tabindex="0" href="{% url 'equivalents' food.ndb_no %}" class="btn btn-xs btn-success" role="button" data-trigger="focus" title="alimento similar">Ver sustitutos</a>
<span>Score: {{ food_score }}</span>
</h4>
{% endwith %}
<div class="row">
    <div class="col-md-6 col-md-push-5">
        <p><a href="{% url 'view_romega' %}">Radio de Omegas:</a>
            {% if food.radio_omega_raw > 4 %}
                <span style="color: red;">
            {% else %}
                <span style="color: green;">
            {% endif %}
            {{ food.radio }}</span></p>
        <p>Alimentos relacionados</p>
        <div style="font-size:70%">
        {% for ndb_no, other_food, distance in food.similarity %}
        <div><a href="{% url 'view_food' ndb_no %}">{{ other_food.0.0 }}</a></div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-5 col-md-pull-6">
        {% if not food.img_obj %}
            <div style="width:250px;height:200px"></div>
        {% else %}
        {% thumbnail food.img_obj.img "400x250" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-rounded">
        {% endthumbnail %}
        {% endif %}
        <div style="font-size:80%;margin-top:10px;">
            <form id="analyze" action="{% url 'food_compare' %}" method="POST">
            {% csrf_token %}
            <button name="comparar" type="submit">Comparar</button>
            <button name="analizar" id="analizar" type="submit">Editar receta</button>
            </form>
            <div id="comparationContainer">
            {% for ndb_no, name in food_compare.items %}
            <div id="comparationContainer-{{ ndb_no }}">
                <a aria-hidden="true" class="glyphicon glyphicon-remove-sign" href="#" onclick="javascript:borrar('{{ ndb_no }}');"></a>
                <span>{{ name }}</span>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<br>
{% with food.caution_good_nutr_avg as nutr %}
<div class="color-swatches">
    <a tabindex="0" class="btn btn-xs btn-info" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Total" data-content="Total de nutrientes">{{ nutr.total }}</a>
    <a tabindex="0" class="btn btn-xs btn-success" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Total" data-content="Total de nutrientes no dañinos por encima del promedio.">{{ nutr.good }}</a>
    <a tabindex="0" class="btn btn-xs btn-danger" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="Total" data-content="Total de nutrientes dañinos por encima del promedio.">{{ nutr.bad }}</a>
</div>
{% endwith %}
<div id="chartContainer"></div>
<div id="barContainer"></div>

</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
var num_foods_added = {{ food_compare|length }};

$(function()
{
var submitActor = null;
var $form = $( '#analyze' );
var $submitActors = $form.find( 'button[type=submit]' );

$form.submit( function( event )
{
    if ( null === submitActor ) {
    // If no actor is explicitly clicked, the browser will
    // automatically choose the first in source-order
    // so we do the same here
        submitActor = $submitActors[0];
    }

    if(submitActor.name == "analizar") {
        return true;   
    } else {
        if(num_foods_added < 2) {
            alert("Agregue otro producto para compararlo.");
            return false;
        } else { 
            return true;
        }
    }
});

$submitActors.click(function( event ){ submitActor = this;});

});

function agregar() {
    var request = $.ajax({
        type: "POST",
        url: "{% url 'view_set_comparation' food.ndb_no 'add' %}",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
    request.done(function(data) {
        if(data) {
            num_foods_added += 1;
            $("<div></div>", 
                {"id": 'comparationContainer-{{ food.ndb_no }}'}).appendTo("#comparationContainer");
            $("<a></a>", {
                "aria-hidden": "true",
                "href": "#", 
                "class": "glyphicon glyphicon-remove-sign",
                click: function(e) {
                    borrar("{{ food.ndb_no }}")
            }}).appendTo("#comparationContainer-{{ food.ndb_no }}");
            $("<span></span>", 
                {"style": "font-size:120%;", "text": data}).appendTo("#comparationContainer-{{ food.ndb_no }}");
        }
    });
}
function borrar(id) {
    var request = $.ajax({
        type: "POST",
        url: "/set_comparation/" + id + '/delete/',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
    request.done(function(data) {
        if(data) {
            num_foods_added -= 1;
            $("#comparationContainer-"+data).remove();
        }
    });
}

</script>

<script type="text/javascript">
function transform_bad(value) {
    if(value == "0")
        return "-";
    return "cuidado";
}
function transform_good(value) {
    if(value == "1")
        return "ok";
    return "-";
}
var data = [];
{% for _, nutrient, value, unit, caution, good in food.mark_caution_good_nutrients %}
data.push({nombre: '{{ nutrient }}', valor: {{ value }}, unidad: '{{ unit }}', tipo: "{{ food.name_limit }}", caution: transform_bad("{{ caution }}"), good: transform_good('{{ good }}')})
{% endfor %}
{% for _, v in food.nutr_avg.items %}
data.push({nombre: '{{ v.0 }}', valor: {{ v.1 }}, unidad: '', tipo: 'promedio', caution: "-", good: "-"})
{% endfor %}

var svg = dimple.newSvg("#chartContainer", 1100, 600);
var myChart = new dimple.chart(svg, data);
myChart.assignColor("{{ food.name_limit }}", "#0066ff", null, .5);
myChart.assignColor("promedio", "#aa0000", null, .5);
myChart.assignColor("cuidado", "#aa0000", null, .7);
myChart.assignColor("ok", "#00ff00", null, .7);
myChart.assignColor("-", "#000000", null, .1);
myChart.setBounds(60, 30, 950, 305);
var x = myChart.addCategoryAxis("x", ["nombre", "unidad"]);
x.showGridlines = true;
var y = myChart.addMeasureAxis("y", "valor");
y.showGridlines = false;
var s = myChart.addSeries(["tipo", "good"], dimple.plot.scatter);
var r = myChart.addSeries(["tipo", "caution"], dimple.plot.scatter);
var l = myChart.addSeries("tipo", dimple.plot.line);
//var s = myChart.addSeries("tipo", dimple.plot.bar);
l.stacked = false;
x.addOrderRule("nombre");

l.interpolation = "step";
//l.interpolation = "cardinal";
//myChart.addLegend(900, 100, 60, 300, "right");
myChart.addLegend(10, 10, 350, 45, "right");
//myChart.setStoryboard("nutr");
y.useLog = true;
y.logBase = 10;
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
y.titleShape.text("Cantidad por cada 100g");
svg.append("text")
   .attr("x", myChart._xPixels() + myChart._widthPixels() / 2)
   .attr("y", myChart._yPixels() - 20)
   .style("text-anchor", "middle")
   .style("font-family", "sans-serif")
   .style("font-weight", "bold")
   .text("Gráfica de nutrientes")

var nutrients = [];
{% for _, nutrdesc, value in resume_intake %}
nutrients.push({nutriente: '{{ nutrdesc }}', porcentaje: {{ value }}, suficiente: {% if value < 100 %}0{% else %}1{% endif %}})
{% endfor %}

var svg = dimple.newSvg("#barContainer", 1100, 450);
var barChart = new dimple.chart(svg, nutrients);
barChart.assignColor("0", "#aa0000", null, .5);
barChart.assignColor("1", "#00aacc", null, .5);
barChart.setBounds(60, 50, 950, 200);
var x = barChart.addCategoryAxis("x", "nutriente");
x.showGridlines = true;
var y = barChart.addMeasureAxis("y", "porcentaje");
y.overrideMax = 100;
y.showGridlines = false;
var l = barChart.addSeries("suficiente", dimple.plot.bar);
x.addOrderRule("nutriente");
barChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
svg.append("text")
   .attr("x", barChart._xPixels() + barChart._widthPixels() / 2)
   .attr("y", barChart._yPixels() - 20)
   .style("text-anchor", "middle")
   .style("font-family", "sans-serif")
   .style("font-weight", "bold")
   .text("Gráfica de nutrientes, porcentaje cubierto en base al perfil");
</script>
{% endblock %}
