{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
    <div class="starter-template">
        <h2>Ranking de alimentos por nutrientes</h2>
        <h3>{{ categoria }}</h3>

        <div class="color-swatches">
          <div class="color-swatch bg-info" style="padding: 5px; text-align: center;">Arriba del promedio</div>
          <div class="color-swatch bg-danger" style="padding: 5px; text-align: center;">Debajo del promedio</div>
        </div>
        <table class="table table-striped table-hover table-condensed">
        <thead>
        <th></th>
        {% for nutr in nutrs %}
           <th>{{ nutr.1 }}</th>
        {% endfor %}
        </thead>
        {% for i, food in foods %}
        <tr>
            <td>{{ i }}.- <a href="{% url 'view_food' food.attr.0 %}">{{ food.attr.1 }}</a></td>
            {% for val in food.val %}
            {% if val.1 < 0 %}
                <td class="danger">{{ val.0 }}{{ val.2 }}</td>
            {% else %}
                <td class="info">{{ val.0 }}{{ val.2 }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

