{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<h2>{{ food.name }}</h2>
<div class="row">
    <div class="col-md-6 col-md-push-5">
        <p>Radio de Omegas: {{ food.radio }} <a role="button" class="btn btn-primary btn-xs" href="{% url 'view_romega' %}">ver más</a></p>
        <p>Alimentos relacionados</p>
        <div style="font-size:70%">
        {% for ndb_no, other_food, distance in food.similarity %}
        <div><a href="{% url 'view_food' ndb_no %}">{{ other_food.0.0 }}</a></div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-5 col-md-pull-6">
        <img src="http://lorempixel.com/400/200/" class="img-rounded"></img>
        <div style="font-size:80%">
            <form action="{% url 'food_compare' %}" method="POST">
            {% csrf_token %}
            <button onclick="javascript:agregar();">Agregar</button>            
            <button type="submit">Comparar</button>
            </form>
            <div id="comparationContainer">
            {% for ndb_no, name in food_compare.items %}
            <div id="comparationContainer-{{ ndb_no }}">
                <a aria-hidden="true" class="glyphicon glyphicon-remove-sign" href="#" onclick="javascript:borrar('{{ ndb_no }}');"></a>
                <span>{{ name }}</span>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="chartContainer"></div>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'd3.js' %}"></script>
<script type="text/javascript" src="{% static 'dimple.v2.1.2.min.js' %}"></script>

<script type="text/javascript">
function agregar() {
    var request = $.ajax({
        type: "POST",
        url: "{% url 'view_set_comparation' food.ndb_no 'add' %}",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
    request.done(function(data) {
        if(data) {
            $("<div></div>", 
                {"id": 'comparationContainer-{{ food.ndb_no }}'}).appendTo("#comparationContainer");
            $("<a></a>", {"text": "Borrar", 
            "href": "#", 
            click: function(e) {
                borrar("{{ food.ndb_no }}")
            }}).appendTo("#comparationContainer-{{ food.ndb_no }}");
            $("<div></div>", 
                {"style": "font-size:120%;", "text": data}).appendTo("#comparationContainer-{{ food.ndb_no }}");
        }
    });
}
function borrar(id) {
    var request = $.ajax({
        type: "POST",
        url: "/set_comparation/" + id + '/delete/',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
    request.done(function(data) {
        if(data) {
            $("#comparationContainer-"+data).remove();
        }
    });
}

</script>

<script type="text/javascript">
function transform_bad(value) {
    if(value == "0")
        return "-";
    return "cuidado";
}
function transform_good(value) {
    if(value == "1")
        return "ok";
    return "-";
}
var data = [];
{% for _, nutrient, value, unit, caution, good in food.mark_caution_good_nutrients %}
data.push({nombre: '{{ nutrient }}', valor: {{ value }}, unidad: '{{ unit }}', tipo: "{{ food.name_limit }}", caution: transform_bad("{{ caution }}"), good: transform_good('{{ good }}')})
{% endfor %}
{% for _, nutrient, value, _ in food.nutr_avg %}
data.push({nombre: '{{ nutrient }}', valor: {{ value }}, unidad: '', tipo: 'promedio', caution: "-", good: "-"})
{% endfor %}

var svg = dimple.newSvg("#chartContainer", 900, 600);
var myChart = new dimple.chart(svg, data);
myChart.assignColor("{{ food.name_limit }}", "#0066ff", null, .5);
myChart.assignColor("promedio", "#aa0000", null, .5);
myChart.assignColor("cuidado", "#aa0000", null, .7);
myChart.assignColor("ok", "#00ff00", null, .7);
myChart.assignColor("-", "#000000", null, .1);
myChart.setBounds(60, 30, 750, 305);
var x = myChart.addCategoryAxis("x", ["nombre", "unidad"]);
x.showGridlines = true;
var y = myChart.addMeasureAxis("y", "valor");
y.showGridlines = false;
var s = myChart.addSeries(["tipo", "good"], dimple.plot.scatter);
var r = myChart.addSeries(["tipo", "caution"], dimple.plot.scatter);
var l = myChart.addSeries("tipo", dimple.plot.line);
//var s = myChart.addSeries("tipo", dimple.plot.bar);
l.stacked = false;
x.addOrderRule("nombre");

l.interpolation = "step";
//l.interpolation = "cardinal";
myChart.addLegend(900, 100, 60, 300, "right");
//myChart.setStoryboard("nutr");
y.useLog = true;
y.logBase = 10;
myChart.draw();
x.titleShape.text("Nutriente");
y.tickFormat = ',.2f';
y.titleShape.text("Cantidad por cada 100g");
svg.append("text")
   .attr("x", myChart._xPixels() + myChart._widthPixels() / 2)
   .attr("y", myChart._yPixels() - 20)
   .style("text-anchor", "middle")
   .style("font-family", "sans-serif")
   .style("font-weight", "bold")
   .text("Gráfica de nutrientes")
</script>
{% endblock %}
