{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="jumbotron" style="background: url(http://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg) {{ width_img_rand }}% {{ height_img_rand }}% no-repeat; background-size: auto;">
    <div class="container">
    <h1 class="text_image_over">¡Una guia más para tu alimentación!</h1>
    <p class="text_image_over">Este sitio te ayudará a comparar, analizar e informarte sobre los alimentos y sus nutrientes.</p>
    <p>
    <a role="button" href="{% url 'recipes' %}" class="btn btn-primary btn-md">Recetas »</a>
    <a role="button" href="{% url 'nutrient_selection' %}" class="btn btn-primary btn-md">Nutrientes »</a>
    <a role="button" href="{% url 'ranking_list' 'best' %}" class="btn btn-primary btn-md">Ranking »</a>
    </p>
    </div>
</div>
<p class="text-muted" style="margin-left: 10px;">En esta tabla se muestran las categorias de los alimentos, junto con los nutrientes más comunes causantes de enfermedades.</p>

<div class="color-swatches">
    <div class="color-swatch bg-info" style="padding: 5px; text-align: center;">Excelente</div>
    <div class="color-swatch bg-success" style="padding: 5px; text-align: center;">Bueno</div>
    <div class="color-swatch bg-danger" style="padding: 5px; text-align: center;">Cuidado</div>
    <a role="button" class="btn btn-sm btn-default" href="{% url 'complex_intake_nutrients' %}">Nutrientes...</a>
    <a role="button" class="btn btn-sm btn-default" href="{% url 'graph_all_nutr' %}">Quiero ver más...</a>
    {% if table_type == "perfil" %}
    <a role="button" class="btn btn-sm btn-default" href="{% url 'index' %}">Ver tabla por promedio</a>
    {% else %}
    <a role="button" class="btn btn-sm btn-default" href="{% url 'index' %}?table_type=perfil">Ver tabla por el perfil</a>
    {% endif %}
</div>

{% if table_type == "avg" %}
<div class="table-responsive">
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th>Categoria</th>
<th>#Alimentos</th>
<th>Calificación</th>
<th>Colesterol</th>
<th>Grasa Saturada</th>
<th>Azucares</th>
<th>Cafeina</th>
<th>Sodio</th>
<th>Calorias</th>
<th>Almidones</th>
<th>Omega6:Omega3</th>
</thead>
<tbody>
{% for category, cat_id, total, nutrs, radio, calification in category_food %}
<tr>
<td><a href="{% url 'list_food_category' cat_id 'best' %}">{{ category }}</a></td>
<td style="text-align: right;">{{ total }}</td>
{% if calification <= 50 %}
<td class="danger">{{ calification }}</td>
{% else %}
{% if calification <= 75 %}
<td class="success">{{ calification }}</td>
{% else %}
<td class="info">{{ calification }}</td>
{% endif %}
{% endif %}
{% for nutr in nutrs %}
    {% if nutr == None %}
    <td>-</td>
    {% else %}
    {% if nutr > 0 %}
    <td style="text-align: right;" class="danger">
    {% else %}
    <td style="text-align: right;" class="success">
    {% endif %}
    {{ nutr }}</td>
    {% endif %}
{% endfor %}
{% if radio < 4 %}
<td class="info">
{% else %}
{% if radio < 9 %}
<td class="success">
{% else %}
<td class="danger">
{% endif %}
{% endif %}
{{ radio }}:1</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% else %}
<div class="table-responsive">
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th>Categoria</th>
<th>#Alimentos</th>
<th>Calificación</th>
</thead>
<tbody>
{% for category, cat_id, total, calification in category_food %}
<tr>
<td><a href="{% url 'list_food_category' cat_id 'best' %}">{{ category }}</a></td>
<td style="text-align: right;">{{ total }}</td>
<td>{{ calification }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endblock %}
