{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="jumbotron" style="background: url(/static/Good_Food_Display_-_NCI_Visuals_Online.jpg) {{ width_img_rand }}% {{ height_img_rand }}% no-repeat; background-size: auto; margin-bottom:0px;">
    <div class="container">
    <h1 class="text_image_over">¡Una guia más para tu alimentación!</h1>
    <p class="text_image_over">Este sitio te ayudará a comparar, analizar e informarte sobre los alimentos y sus nutrientes.</p>
    <p>
    <a role="button" href="{% url 'recommended_food' %}" class="btn btn-primary btn-lg">Beneficios »</a>
    <a role="button" href="{% url 'nutrient_selection' %}" class="btn btn-primary btn-lg">Nutrientes »</a>
    </p>
    </div> 
</div>
<canvas id="displayCanvas" height="15px">
    Your browser does not support HTML5 canvas.
</canvas>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h3>Índice</h3>
            <ul>
                <li><a href="">Categorias de alimentos.</a></li>
                <li><a href="#vitaminas">Las vitaminas.</a></li>
                <li><a href="#radio-omega">El radio omega 6, omega 3</a></li>
                <li><a href="#carne-procesada">La carne procesada.</a></li>
                <li><a href="#carne-roja">La carne roja.</a></li>
            </ul>
        </div>
    </div>
</div>

<p class="text-muted" style="margin-left: 10px;">En esta tabla se muestran las categorias de los alimentos, junto con los nutrientes más comunes causantes de enfermedades.</p>

<div class="color-swatches">
    <div class="color-swatch bg-info" style="padding: 5px; text-align: center;">Excelente</div>
    <div class="color-swatch bg-success" style="padding: 5px; text-align: center;">Bueno</div>
    <div class="color-swatch bg-danger" style="padding: 5px; text-align: center;">Cuidado</div>
    <a role="button" class="btn btn-sm btn-default" href="{% url 'complex_intake_nutrients' %}">Nutrientes...</a>
    <a role="button" class="btn btn-sm btn-default" href="{% url 'graph_all_nutr' %}">Quiero ver más...</a>
    {% if table_type == "perfil" %}
    <a role="button" class="btn btn-sm btn-default" href="{% url 'index' %}">Ver tabla por promedio</a>
    {% else %}
    <a role="button" class="btn btn-sm btn-default" href="{% url 'index' %}?table_type=perfil">Ver tabla por el perfil</a>
    {% endif %}
</div>

{% if table_type == "avg" %}
<div class="table-responsive" id="tabla-categoria-alimentos">
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th>Categoria</th>
<th>#Alimentos</th>
<th>Calificación</th>
<th>Colesterol</th>
<th>Grasa Saturada</th>
<th>Azucares</th>
<th>Cafeina</th>
<th>Sodio</th>
<th>Calorias</th>
<th>Almidones</th>
<th>Omega6:Omega3</th>
</thead>
<tbody>
{% for category, cat_id, total, nutrs, radio, calification in category_food %}
<tr>
<td><a href="{% url 'list_food_category' cat_id 'best' %}">{{ category }}</a></td>
<td style="text-align: right;">{{ total }}</td>
{% if calification <= 50 %}
<td class="danger">{{ calification }}</td>
{% else %}
{% if calification <= 75 %}
<td class="success">{{ calification }}</td>
{% else %}
<td class="info">{{ calification }}</td>
{% endif %}
{% endif %}
{% for nutr in nutrs %}
    {% if nutr == None %}
    <td>-</td>
    {% else %}
    {% if nutr > 0 %}
    <td style="text-align: right;" class="danger">
    {% else %}
    <td style="text-align: right;" class="success">
    {% endif %}
    {{ nutr }}</td>
    {% endif %}
{% endfor %}
{% if radio < 4 %}
<td class="info">
{% else %}
{% if radio < 9 %}
<td class="success">
{% else %}
<td class="danger">
{% endif %}
{% endif %}
{{ radio }}:1</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% else %}
<div class="table-responsive">
<table class="table table-striped table-hover table-condensed">
<thead style="font-size: 90%">
<th>Categoria</th>
<th>#Alimentos</th>
<th>Calificación</th>
</thead>
<tbody>
{% for category, cat_id, total, calification in category_food %}
<tr>
<td><a href="{% url 'list_food_category' cat_id 'best' %}">{{ category }}</a></td>
<td style="text-align: right;">{{ total }}</td>
<td>{{ calification }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}

<h2 style="margin-left: 20px;" id="vitaminas">Las Vitaminas</h2>
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h3>Vitaminas Hidrosolubles</h3>
            <p style="text-align:justify;">
            Se caracterizan porque se disuelven en agua. Muchos alimentos ricos en este tipo de vitaminas no aportan, al término de su preparación, la misma cantidad que contenían inicialmente. Para recuperar parte de estas vitaminas se puede aprovechar el agua de cocción de las verduras. Es necesario consumirlas diario debido a que el cuerpo no las almacena, además si se consumen en exceso no produce mayores daños al cuerpo, debido a que el excedente es desechado atravez de la orina.
            </p>
            <ul>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=404">Vitamina B1 (tiamina)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=405">Vitamina B2 (riboflavina)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=406">Vitamina B3 (niacina o ácido nicotínico)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=410">Vitamina B5 (ácido pantoténico)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=415">Vitamina B6 (fosfato de piridoxal)</a>
            </li>
            <li>
            Vitamina B8 (biotina)
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=435">Vitamina B9 (ácido fólico)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=418">Vitamina B12 (cianocobalamina)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=401">Vitamina C (ácido ascórbico)</a>
            </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h3>Vitaminas Liposolubles</h3>
            <p style="text-align:justify;">
            Estas vitaminas, normalmente son absorbidas por las lipoproteínas conocidas como quilomicrones que viajan a través del sistema linfático del intestino delgado y en la circulación de la sangre de nuestro organismo. Estas vitaminas liposolubles, especialmente las vitaminas A y E se almacenan en los tejidos de nuestro organismo.
            Las vitaminas liposolubles no se absorben ni se excretan fácilmente, y su exceso en el organismo puede resultar tóxico.
            </p>
            <ul>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=319">Vitamina A (retinol)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=328">Vitamina D (calciferol)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=323">Vitamina E (tocoferol)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=430">Vitamina K1 (filoquinona)</a>
            </li>
            <li>
            <a href="{% url 'best_of_nutrients' %}?nutr_no=428">Vitamina K2 (menaquinona)</a>
            </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h3>Resistencia y Debilidades</h3>
            <div class="table-responsive" style="font-size: 90%">
            <table class="table table-striped table-hover table-condensed">
            <thead>
                <th>Nombre</th>
                <th>Resistencia</th>
                <th>Debilidades</th>
            </thead>
            <tbody>
            <tr>
                <td>Vitamina B2</td>
                <td>calor</td>
                <td>agua, luz solar, solucion alcalina</td>
            </tr>
            <tr>
                <td>Vitamina B1</td>
                <td>alcohol</td>
                <td>agua, calor</td>
            </tr>
            <tr>
                <td>Vitamina B6</td>
                <td>calor, oxidación</td>
                <td>luz, solución ácida, solución alcalina</td>
            </tr>
            <tr>
                <td>Vitamina B5</td>
                <td>calor</td>
                <td>agua, alcohol, luz, solución ácida, solución alcalina</td>
            </tr>
            <tr>
                <td>Vitamina B12</td>
                <td>calor</td>
                <td>luz, solución ácida, solución alcalina</td>
            </tr>
            <tr>
                <td>Vitamina B8</td>
                <td>calor</td>
                <td>agua, alcohol, oxidación</td>
            </tr>
            <tr>
                <td>Vitamina C</td>
                <td>luz</td>
                <td>calor, solución alcalina</td>
            </tr>
            <tr>
                <td>Vitamina K</td>
                <td>calor</td>
                <td>luz</td>
            </tr>
            <tr>
                <td>Vitamina A</td>
                <td>calor</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Vitamina D</td>
                <td>calor</td>
                <td>-</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
            <td colspan="3">Las vitaminas aún cuando sean resistentes al calor, pueden perderse con facilidad, esto depende del ambiente en el que esten, por ejemplo: las vitaminas en frutas y verduras son muy suceptibles a perderse si se calientan, en cambio, en las carnes se concervan mejor.</td>
            </tr>
            <tr>
            <td colspan="3">Los alimentos que son licuados, deben de consumirse el mismo dia. Al licuar la degradación de las vitaminas se acelera.</td>
            </tr>
            </tfoot>
            </table>
            </div>
        </div>
    </div>
</div>

<h2 style="margin-left: 20px;" id="radio-omega">El radio omega 6, omega 3</h2>
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item" style="text-align:justify;">
            <h3>Omega 3 y Omega 6</h3>
            <p>El omega 3 y el omega 6 son una familia de ácidos grasos polinisaturados, y son necesarios para que el cuerpo pueda realizar sus actividades básicas. </p>
            <p>En tiempos recientes, las sociedades del mundo han integrado a sus dietas una gran diversidad de alimentos, muchos de los cuales, el cuerpo humano no ha podido adaptarse a tales cambios. Nuestro cuerpo esta acostumbrado a recibir un radio omega 6, omega 3 de 1 a 1, ¿qué quiere decir esto? El omega 6 y el omega 3 compiten por las mismas enzimas metabólicas, esto tiene influencia en la tasa de producción de eicosanoides, un grupo de hormonas intimamente ligado a los procesos homeotestáticos e inflamatarios del cuerpo. Alterar este radio puede cambiar el metabolismo del cuerpo y las inflamaciones que sufre. 
            <p>Actualmente, las dietas están correlacionadas con muchos desordenes inflamatorios, ya que estas llegan a tener radios de 10 a 1 (10 veces más omega 6 que omega 3). Los ácidos grasos omega 6 tienen efectos inflamatorios, mientras que los omegas 3 tienen efectos anti inflamatorios, por eso hay que mantener los omega 6 en la misma proporcion que los omega 3 (el ideal es 1 a 1, aunque un radio 4 a 1 tambien es adecuado).</p>
            <p>Como podemos ver en la tabla <a href="#tabla-categoria-alimentos">categorias de alimentos</a> los pescados y mariscos tienen el mejor radio omega en general, mientras que las nueces y semillas en general son las de peor radio omega. Es recomendable comer nueces y semillas, pero hay que balancearlas con otros productos para equilibrar el radio omega.</p><a herf="https://en.wikipedia.org/wiki/Omega-3_fatty_acid#Mechanism_of_action">Más información.</a>
        </div>
    </div>
</div>

<h2 style="margin-left: 20px;">Las Carnes</h2>
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h3 id="carne-procesada">La carne procesada.</h3>
            <p>La carne procesada recientemente ha sido clasificada por la <a href="http://monographs.iarc.fr/">Agencia Internacional para la Investigación en Cáncer</a> como un agente cancerigeno tipo 1 (con suficiente evidencia de ser causa de cáncer en humanos). Especificamente comer más de 50g diarios de <b>carne procesada</b>, aumenta el riesgo de desarrollar cáncer de tipo colo-rectal.</p>
            <h3>La carne procesada incluye.</h3>
            Carne preservada por el ahumado, salada, fermentada o agregarle preservativos para mejorar la preservación o el sabor.
            <ul>
                <li>Carne enlatada</li>
                <li>Carnes frias</li>
                <li>Jamón</li>
                <li>Pâtés</li>
                <li>Salchichas</li>
                <li>Salsas con carne</li>
                <li>Salami</li>
                <li>Tocino</li>
            </ul>
            <h3>Recomendaciones</h3>
            <p>Consumir menos de 40g diarios de carne procesada ayuda a no aumentar el riesgo de desarrollar cancer, sin embargo, se recomienda limitar el consumo diario de esta carne, de preferencia a dos o tres veces por semana.</p>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <h3 id="carne-roja">La carne roja</h3>
            <p>La carne roja, ha sido clasificada como un cancerigeno tipo 2A</a> (es decir, se tiene limitada evidencia científica como causa de cáncer en humanos)</p>
            <h3>La carne roja incluye.</h3>
            <ul>
                <li>Avestruz</li>
                <li>Cabra</li>
                <li>Cordero</li>
                <li>Puerco</li>
                <li>Res</li>
                <li>Ternera</li>
                <li>Venado</li>
                <li>En general, carne de mamíferos</li>
            </ul>
            <h3>La carne roja no incluye.</h3>
            <ul>
                <li>Aves de caza</li>
                <li>Conejo</li>
                <li>Ganso</li>
                <li>Pato</li>
                <li>Pavo</li>
                <li>Pollo</li>
            </ul>
            <h3>Recomendaciones</h3>
            <p>Se recomienda un consumo máximo de 70g diarios de carne roja para reducir riesgos de desarrollar una enfermedad del corazón o un tipo de cáncer.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'cellular.js' %}"></script>
{% endblock %}
