{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<h2 style="display:inline-block;">Noticias</h2>


<h3>Titulo</h3>
<div>
De acuerdo a la encuesta realizada a 140 estudiantes de licenciatura, maestría y doctorado, que residen en la Republica Mexicana en edades de entre 22 a 30 años, las categorias de los alimentos consumidos de acuerdo a su regularidad son.
<ol>
<li>Verduras</li>
<li>Carne de pollo</li>
<li>Frutas</li>
<li>Huevo o lácteos</li>
<li>Cereales o pastas</li>
<li>Carne de res</li>
<li>Legumbres</li>
<li>Café o té con cafeina</li>
<li>Nueces y semillas</li>
<li>Pescados o mariscos</li>
<li>Pan dulce</li>
<li>Carne de cerdo</li>
<li>Salchichas o carnes frias</li>
<li>Dulces</li>
<li>Refrescos o bebidas endulzadas</li>
<li>Café o té descafeinados</li>
<li>Suplementos alimenticios</li>
<li>Refrescos bajos en calorias</li>
</ol>
</div>

</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
