{% extends "busqueda.html" %}
{% load staticfiles %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
{% endblock %}

{% block contenido_base %}
<div class="container">
    <div class="starter-template">
        <form action="{% url 'best_of_nutrients' %}" method="POST">
        {% csrf_token %}
        <select name="category_food">
        <option value="X">Todas las categorias, excepto productos elaborados</option>
        <option value="XX">Todas las categorias</option>
        {% for fdgrp_cd, fdgrp_desc_es in categories %}
        <option value="{{ fdgrp_cd }}">{{ fdgrp_desc_es }}</option>
        {% endfor %}
        </select>
        <button class="btn btn-default" type="submit">Consultar</button>
        <h3>Seleccione los nutrientes que desea buscar en los alimentos</h3>
        {% for group, values in nutr_group %}
        <div class="col-sm-3">
        <b>{{ group }}</b>
        {% for nutr_no, nutr_name, desc in values %}
        <div class="checkbox">
        <label>
        <input name="nutr_no" type="checkbox" value="{{ nutr_no }}"> 

        <a tabindex="0" class="btn btn-xs btn-default" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ nutr_name }}" data-content="{{ desc }}">{{ nutr_name }}</a>

        </label>
        </div>
        {% endfor %}
        </div>
        {% endfor %}
        </form>
    </div>
</div>
{% endblock %}
