{% extends "busqueda.html" %}
{% load staticfiles %}

{% block js %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})

$('#dropdownMenu1').tooltip("show");
$('#data_size').tooltip("show");

function submit_form_validate() {
$('#select_all_cat').click(function(event) {   
    $("input[name^='type_food']").each(function() {
        this.checked = this.checked^true;                        
    });
});
</script>
{% endblock %}

{% block contenido_base %}
<div class="container">
    <div class="starter-template">

    <form name="search" method="post" action="." onsubmit="return submit_form_validate();">
    {% csrf_token %}
    {{ type_food_formset.management_form }}
    {{ weight_formset.management_form }}
    <div class="btn-group" role="group">
        <div class="btn-group" role="group">
            <button class="btn btn-info dropdown-toggle" type="button" 
            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
            data-placement="top" title="Eligeme" aria-haspopup="true">
            Categorias de carnes
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for form in type_food_formset.forms %}
            <li><p>{{ form.key }}{{ form.check }}&nbsp;{{ form.food_type.category }}</p></li>
            {% endfor %}
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button class="btn btn-warning dropdown-toggle" type="button" 
            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Elegir beneficios
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for form in  weight_formset %}
            <li><p>{{ form.key }}{{ form.check }}&nbsp;{{ form.name }}</p></li>
            {% endfor %}
            </ul>
        </div>
        <button type="submit" class="btn btn-default" >Buscar</button>
    </div>

    <h2 style="text-align: center;">Pirámide alimentaria</h2>
        <h4 style="text-align: center;">{{ best_for_text }}</h4>
        <div class="pyramid-container">
        {% for i, row in piramid_rows %}
        <div id="pyramid-level-{{ i }}" class="piramid-font">
            {% if forloop.counter < 3 %}
            <div style="font-size:65%;">
            {% else %}
            <div style="font-size:95%;">
            {% endif %}
            {{ row.0 }} {{ row.1 }}%</div>
        <div style="font-size:75%;">(~{{ row.2 }}g)</div>
        </div>
        {% endfor %}
        <div id="pyramid-level-{{ piramid_height }}" class="piramid-font">Agua 2 litros</div>
        <div>En base a un consumo de ~{{ piramid_totals.2 }} o ~{{ piramid_totals.1 }}</div>
        </div>
    </div>
</div>
{% endblock %}
