{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<h2>Recetas</h2>
<div class="row">
{% for name, score, radio_omega, energy, weight in recipes %}
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <span class="badge">{{ score }}</span>
            <h3 class="panel-title">{{ name }}</h3>
        </div>
        <div class="panel-body">
            <p>Energia: {{ energy.0 }}{{ energy.1 }}</p>
            <p>Radio Omega: {{ radio_omega }}</p>
            <p>Cantidad: {{ weight }}g</p>
        </div>
    </div>
  </div>
{% endfor %}

</div>
</div>
{% endblock %}

