{% extends "busqueda.html" %}
{% load staticfiles %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<h2 style="display:inline-block;">Menú</h2><span> / recetas</span>
<div class="row">
{% for author, recipes in author_recipes %}
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item" style="height: 60px;">
        <p class="panel-title">Autor: {{ author }}</p>
        <span class="badge">Total: {{ recipes.total.score }}</span>
        <span class="badge">Energia: {{ recipes.total.kcal }}kcal</span>
        <span class="badge">Peso: {{ recipes.total.weight }}g</span>
        </div>
        <ol style="margin: 10px;">
        {% for recipe in recipes.recipes %}
            <li>
            <span>{{ recipe.name|truncatechars:30 }}</span>
            <span class="badge">{{ recipe.score }}</span>
            <p>Energia: {{ recipe.energy.0 }}{{ recipe.energy.1 }}</p>
            <p>Cantidad: {{ recipe.weight }}g</p>
            </li>
        {% endfor %}
        </ol>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}

