{% extends "busqueda.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

function submit_form_validate() {
    for(var i=0; i<$('#id_type_food-TOTAL_FORMS').val(); i++) {
        if($('#id_type_food-'+i+'-check').is(":checked")) {
            return true;
        }
    }
    alert("Elija una o varias categorias de alimentos para realizar la búsqueda.")
    return false;
}

$('#select_all_cat').click(function(event) {   
    $("input[name^='type_food']").each(function() {
        this.checked = this.checked^true;                        
    });
});
</script>
{% endblock %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<form method="post" action=".">
{% csrf_token %}
{{ type_food_formset.management_form }}
{{ weight_formset.management_form }}

<div class="btn-group" role="group">
    <div class="btn-group" role="group">
        <button class="btn btn-info dropdown-toggle" type="button" 
        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
        data-placement="top" title="Eligeme" aria-haspopup="true">
        Categorias de alimentos
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><p style="background-color:#ddd">
            <input type="checkbox" id="select_all_cat">&nbsp;<b>Elegir todas las categorias</b></p></li>
        {% for form in type_food_formset.forms %}
        <li><p>{{ form.key }}{{ form.check }}&nbsp;{{ form.food_type.category }}</p></li>
        {% endfor %}
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button class="btn btn-warning dropdown-toggle" type="button" 
        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Elegir beneficios
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for form in  weight_formset %}
        <li><p>{{ form.key }}{{ form.check }}&nbsp;{{ form.name }}</p></li>
        {% endfor %}
        </ul>
    </div>
    <button type="submit" class="btn btn-default" >Buscar</button>
</div>

<div>
    <div class="btn-group" role="group">
        <div id="data_size" data-placement="top" title="# de Resultados" style="margin:0;padding:7px 0px;">Resultados: {{ radio_omega_form.data_size }}</div>
    </div>

    <div class="btn-group" role="group">
        <div style="margin:0;padding: 6px 12px;text-align: center;">
    {{ radio_omega_form.radio_omega }} Radio Omega</div>
    </div>
</div>

</form>
{% if best_for_text != "" %}
<h3>Busqueda de: "{{ best_for_text }}".</h3>
{% else %}
<br>
{% endif %}
<div class="row row-eq-height">
{% for i, food in foods %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <span class="badge">{{ i }}</span>
            <p class="panel-title">
            <a href="{% url 'view_food' food.ndb_no %}">{{ food.img_obj.name|truncatewords:6 }}</a>
            </p>
        </div>

        <div class="panel-body">
        {% thumbnail food.img_obj.img "250x200" crop="center" as im %}
        <a href="{% url 'view_food' food.ndb_no %}">
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" 
            class="img-rounded img-responsive" style="margin:auto;">
        </a>
        {% empty %}
        <div style="width:250px;height:200px"></div>
        {% endthumbnail %}
        <div style="margin-left:10px;">
        <div><b>Radio omega:</b> {{ food.radio }}</div>
        <p style="font-weight:bold;">Nutrientes examinados</p>
        <div style="margin:10px;">
        {% for v, nutrdesc, detail in food.weights_nutrients_approved %}
        <a tabindex="0" class="btn btn-xs btn-info" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ nutrdesc }}" data-content="{{ detail }}" style="font-size:70%;">{{ nutrdesc }}</a>
        {% endfor %}
        </div>
        <p style="font-weight:bold;">Nutrientes destacados.</p>
        {% for _, nutrdesc, detail, mount in food.top_nutrients_detail_avg %}
        <a tabindex="0" class="btn btn-xs btn-default" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ nutrdesc }}" data-content="{{ detail }}" style="font-size:70%;">{{ nutrdesc }}</a>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
{% empty %}
<p class="bg-danger"><b>No hay resultados.</b> Cambie los parametros de la búsqueda.</p>
{% endfor %}
</div>

</div>
</div>
{% endblock %}

