{% extends "busqueda.html" %}
{% load staticfiles %}

{% block js %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})

$('#dropdownMenu1').tooltip("show");
$('#data_size').tooltip("show");

function submit_form_validate() {
    var type = false;
    for(var i=0; i<$('#id_type_food-TOTAL_FORMS').val(); i++) {
        if($('#id_type_food-'+i+'-check').is(":checked")) {
            type = true;
            break;
        }
    }
    if(!type) {
        alert("Elija una o varias categorias de alimentos para realizar la búsqueda.");
        return false;
    }
    for(var i=0; i<$('#id_weight-TOTAL_FORMS').val(); i++) {
        if($('#id_weight-'+i+'-check').is(":checked")) {
            return true;
        }
    }
    alert("Elija uno o varios tipos de beneficios.")
    return false;
}

$('#select_all_cat').click(function(event) {   
    $("input[name^='type_food']").each(function() {
        this.checked = this.checked^true;                        
    });
});
</script>
{% endblock %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">

<form name="search" method="post" action="." onsubmit="return submit_form_validate();">
{% csrf_token %}
{{ type_food_formset.management_form }}
{{ weight_formset.management_form }}
<div class="btn-group" role="group">
    <div class="btn-group" role="group">
        <button class="btn btn-info dropdown-toggle" type="button" 
        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
        data-placement="top" title="Eligeme" aria-haspopup="true">
        Categorias de alimentos
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><p style="background-color:#ddd">
            <input type="checkbox" id="select_all_cat">&nbsp;<b>Elegir todas las categorias</b></p></li>
        {% for form in type_food_formset.forms %}
        <li><p>{{ form.key }}{{ form.check }}&nbsp;{{ form.food_type.category }}</p></li>
        {% endfor %}
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button class="btn btn-warning dropdown-toggle" type="button" 
        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Elegir beneficios
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for form in  weight_formset %}
        <li><p>{{ form.key }}{{ form.check }}&nbsp;{{ form.name }}</p></li>
        {% endfor %}
        </ul>
    </div>
    <button type="submit" class="btn btn-default" >Buscar</button>
</div>

<div>
    <div class="btn-group" role="group">
        <div id="data_size" data-placement="bottom" title="# de Resultados" style="margin:0;padding:7px 0px;">Resultados: {{ radio_omega_form.data_size }}</div>
    </div>

    <div class="btn-group" role="group">
        <div style="margin:0;padding: 6px 12px;text-align: center;">
            {{ radio_omega_form.radio_omega }} Radio Omega
        </div>
    </div>

    <div class="btn-group" role="group">
        <div style="margin:0;padding: 6px 12px;text-align: center;">
            {{ radio_omega_form.quantity }}
        </div>
    </div>
</div>
</form>

<h3>Instrucciones.</h3>
<p style="margin-top:20px;">Elija la(s) categoria(s) de los alimentos, 
asi como los beneficios que quiere buscar en ellos, puede elegir uno o varios.</p>
<p>A continuación se listan los alimentos y bebidas (en total hay {{ total_food }}) donde se realiza la busqueda de beneficios.</p>
<div class="row row-eq-height">
{% for category, foods_list in foods %}
<div class="col-md-4">
<h4>{{ category }}</h4>
{% for food in foods_list %}
<div class="{{ forloop.counter|divisibleby:2|yesno:'alternate0,alternate1' }}"><a href="{% url 'view_food' food.ndb_no %}">{{ food.img_obj.name }}</a></div>
{% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}

