{% extends "busqueda.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
{% endblock %}

{% block contenido_base %}
<div class="container">
<div class="starter-template">
<form method="post" action=".">
{% csrf_token %}
{{ type_food_formset.management_form }}
{{ weight_formset.management_form }}

<div class="btn-group" role="group">
<div class="btn-group" role="group">
    <button class="btn btn-info dropdown-toggle" type="button" 
    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Categorias de alimentos
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for form in type_food_formset.forms %}
    <li>
    <a href="#">{{ form.key }}{{ form.check }}&nbsp;{{ form.food_type.category }}</a>
    </li>
    {% endfor %}
    </ul>
</div>

<div class="btn-group" role="group">
    <button class="btn btn-warning dropdown-toggle" type="button" 
    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Elegir beneficios
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for form in  weight_formset %}
    <li>
    <a href="#">{{ form.key }}{{ form.check }}&nbsp;{{ form.name }}</a>
    </li>
    {% endfor %}
    </ul>
</div>
<button type="submit" class="btn btn-default" >Buscar</button>
</div>
</form>
{% if best_for_text != "" %}
<h3>Listado de nutrientes examinados que sirven como {{ best_for_text }}.</h3>
{% endif %}
{% for nutrdesc, detail, caution in found_nutr %}
{% if caution %}
<a tabindex="0" class="btn btn-xs btn-danger" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ nutrdesc }}" data-content="{{ detail }}"  style="font-size:70%;">{{ nutrdesc }}</a>
{% else %}
<a tabindex="0" class="btn btn-xs btn-success" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ nutrdesc }}" data-content="{{ detail }}"  style="font-size:70%;">{{ nutrdesc }}</a>
{% endif %}
{% endfor %}
<br><br>
<div class="row">
{% for i, food in foods %}
<div class="col-md-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item">
            <span class="badge">{{ i }}</span>
            <p class="panel-title">
            <a href="{% url 'view_food' food.ndb_no %}">{{ food.name|truncatewords:6 }}</a>
            </p>
        </div>

        <div class="panel-body">
        {% thumbnail food.img_obj.img "250x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" 
            class="img-rounded img-responsive" style="float:left;">
        {% empty %}
        <div style="width:250px;height:200px"></div>
        {% endthumbnail %}
        <div style="margin-left:10px;">
        <p style="font-weight:bold;">Nutrientes destacados.</p>
        {% for nutr_no, nutrdesc, detail, mount in food.top_nutrients_detail_avg %}
        <a tabindex="0" class="btn btn-xs btn-default" role="button" data-container="body" data-placement="right" data-toggle="popover" data-trigger="focus" title="{{ nutrdesc }}" data-content="{{ detail }}"  style="font-size:70%;">{{ nutrdesc }}</a>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

</div>
</div>
{% endblock %}

